.portfolio-header {
  color: #95a3a3;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem;
  text-transform: uppercase;
}

.portfolio-section {
  background-color: #ebeeee;
}

.project button {
  background-color: #302f2f;
  border-radius: 0;
  border: none;
}

.project a {
  border-radius: 0;
  border: none;
}

.project {
  display: block;
  min-width: auto;
  max-width: auto;
  height: auto;
  margin-bottom: 2rem;
}

.project-links {
  font-size: 1.5rem;
  color: #000000;
  background-color: #fff;
}

.btn-primary {
  background-color: #302f2f;
  border-color: #302f2f;
}
